<p>
  <strong>Nome</strong>
  <%= @associados.nome %>
</p>
 
<p>
  <strong>Endereco</strong>
  <%= @associados.endereco %>
</p>

<p>
  <strong>Bairro</strong>
  <%= @associados.bairro %>
</p>

<p>
  <strong>CPF</strong>
  <%= @associados.cpf %>
</p>

<p>
  <strong>RG</strong>
  <%= @associados.rg %>
</p>

<p>
  <strong>PIS/PASEP</strong>
  <%= @associados.pis_pasep %>
</p>

<p>
  <strong>CTPS</strong>
  <%= @associados.ctps %>
</p>

<p>
  <strong>Nome Mae</strong>
  <%= @associados.nome_mae %>
</p>

<p>
  <strong>Convenio</strong>
  <%= @associados.convenio %>
</p>

<%= link_to 'Back', associados_path %>